.content {
    width: 350px;
    height: 200px;
    margin: 150px auto;
    border: 1px solid #eee;
}

.content .login-box {
    width: fit-content;
    margin: 0px auto;
}

.content .login-title {
    width: 300px;
    text-align: center;
    margin: 15px 0px;
    font-weight: bold;
    font-size: 16px;
}

.login-item {
    width: 300px;
    margin-bottom: 10px;
    
}

.btn-width {
    width: 300px;
}