<nav class="navbar  navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mall后台管理</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="clickColor">
                    <a href="./index.html">用户管理</a>
                </li>
                <li class="clickColor">
                    <a href="./category-list.html">分类管理</a>
                </li>
                <li class="clickColor">
                    <a href="./product-list.html">商品管理</a>
                </li>
                <li class="clickColor">
                    <a href="./order-list.html">订单管理</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">欢迎<span id="user"></span></p>
                </li>
                <li>
                    <a class="link" id="logout">退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>