<!DOCTYPE html>
<html lang="en">

<head>
    <%=require('html-loader!./common/html-head.html')%>
        <title>商品详情</title>
</head>

<body>
    <%=require('html-loader!./common/nav.html')%>
        <div class="container">
            <div class="content">
                <div class="input-group product-item">
                    <span class="input-group-addon">商品名称</span>
                    <input id="name" type="text" class="form-control width" readonly>
                </div>
                <div class="input-group  product-item">
                    <span class="input-group-addon">商品标题</span>
                    <input id="subtitle" type="text" class="form-control width" readonly>
                </div>
                <div class="input-group  product-item">
                    <span class="input-group-addon">商品状态</span>
                    <input id="status" type="text" class="form-control width" readonly>
                </div>
                <div class="input-group  product-item">
                    <span class="input-group-addon">所属分类</span>
                    <input id="category" type="text" class="form-control width" readonly>
                </div>
                <div class="input-group  product-item">
                    <span class="input-group-addon">商品价格</span>
                    <input id="price" type="text" class="form-control width" readonly>
                </div>
                <div class="input-group  product-item">
                    <span class="input-group-addon">商品库存</span>
                    <input id="stock" type="text" class="form-control width" readonly>
                </div>
                <div class="input-group  product-item">
                    <span class="input-group-addon" style="width: 80px;">商品图片</span>
                </div>
                <div id="imageArea" style="margin-top: 5px;margin-left: 10px;"></div>
                <div class="input-group  product-item">
                    <span class="detail-span">商品详情</span>
                    <div id="detail"></div>
                </div>

            </div>
        </div>
        <%=require('html-loader!./common/footer.html')%>
</body>

</html>